@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 27% 98%;
    --foreground: 240 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 10%;
    --primary: 243 63% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 20% 96%;
    --secondary-foreground: 240 10% 12%;
    --muted: 240 20% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 243 63% 96%;
    --accent-foreground: 243 63% 40%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 243 63% 55%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
